.search {
  height: 44px;
  max-width: 600px;
}

.btn {
  border-radius: 4px;
  color: #fff;
  height: 44px;
  margin: 0 5px;
  text-align: center;
}
.gradus {
  color: black;
  font-size: 64px;
}
.celsius {
  color: rgb(70, 68, 68);
  position: relative;
  top: -20px;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
a {
  text-decoration: none;
}
